
@section featured {

    <section class="featured">

        <div class="content-wrapper">
            <hgroup class="title">

            </hgroup>
            <p>
                <style>
                    #myDiv {
                        border: 1px solid #73AD21;
                        display: inline
                    }
                    #mySpan {
                        color: brown;
                    }
                </style>
                <div id="myDiv">
                    Welcome to <span id="mySpan"> Agent management website!    </span>
                </div>
            </p>
        </div>
    </section>
}
